.App {
  text-align: left;
  margin: 10px;
  padding: 10px;
}
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(2px + 3vmin);
  color: black;
}
a{
  margin-left:40px;
  display: inline;
  align-content: right;
  text-decoration: none;
}

a:focus, a:active {
  background: rgb(207, 207, 228);
}

.heading {
  display: flex;
  width: 100%;
  border: 1px solid black;
  height: 30px;
}
.title {
  width: 50%;
  text-align: center;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:22px;
  background-color: gray;
}
.body {
  text-align: left;
}